body
{
    margin:0px ;
}
.row{
    display: flex ;
    background-color: #ffffff;
    /* gap:20px ; */
   flex-wrap: wrap;
    /* padding:10px; */
    box-sizing: border-box;
}
.col{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border:1px solid gray ;
    max-width: 25%;
    min-height: 25%;
}

